<particles  id= "particles"  [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

<h1>Pomodoro App</h1>
<div class="controls">
    <button type="button" class="btn btn-primary" (click)="switchToPomodoro()">Pomodoro</button>
    <button type="button" class="btn btn-primary" (click)="switchToBreak()">Take Break</button>
</div> 

<div [ngSwitch]="this.mode">
    <app-pomodoro *ngSwitchCase="pomodoro" [m]=25 [s]=0 (onComplete)="onPomodoroComplete(content)"></app-pomodoro>
    <app-pomodoro *ngSwitchCase="break" [m]=5 [s]=0 (onComplete)="onPomodoroComplete(content)"></app-pomodoro>
</div>